.gradle
build
.idea
*.iml
*.ipr
*.iws
.DS_Store
.env
ci/variables.yml
*out/**
applications/allocations-server/out/
applications/backlog-server/out/
applications/timesheets-server/out/
components/allocations/out/
components/backlog/out/
components/rest-support/out/
components/test-support/out/
components/timesheets/out/
urls.txt
